{% extends './_base.html' %}

{% macro product_detail(id, desc, brand, price, sizes, color, material) %}

<div id="product-detail" class="container">
  <div class="images col-md-4 col-md-offset-2">

    <div class="main-container">
      <img class="main" src="img/product_{{ id }}.jpg" alt="{{ desc }}">
    </div>

    <div class="clearfix"></div>

    <img class="mini" src="img/product_{{ id }}.jpg" alt="{{ desc }}">
    <img class="mini" src="img/product_{{ id }}.jpg" alt="{{ desc }}">
    <img class="mini" src="img/product_{{ id }}.jpg" alt="{{ desc }}">
  </div>

  <div class="description col-md-4">
    <h1 class="desc">{{ desc }}</h1>

    <table class="table">
      <caption>Detalles del Producto</caption>

      <tr>
        <td>Marca</td> <td>{{ brand }}</td>
      </tr>
      <tr>
        <td>Talles</td> <td>{{ sizes | join(' - ') }}</td>
      </tr>
      <tr>
        <td>Color</td> <td>{{ color }}</td>
      </tr>
      <tr>
        <td>Material</td> <td>{{ material }}</td>
      </tr>
    </table>

    <div class="row">
      <div class="col-md-6">
        <h2 class="price">${{ price }}</h2>
      </div>
      <div class="col-md-6">
        <a href="cart.html" class="buy btn btn-success">Añadir al Carrito</a>
      </div>
    </div>
  </div>
</div>

{% endmacro %}

{% block body %}

  {% block detail %}{% endblock %}

<div class="container">
  <div id="related" class="row">
    <div class="row">
      <h1 class="col-md-offset-2">Relacionados</h1>
    </div>
    <div class="col-md-2"></div>
    {{ product_mini('Zapato de Cuero Copado', '940', 1) }}
    {{ product_mini('Camisa Blanca Simpática', '440', 2) }}
    {{ product_mini('Conjunto Negro Increíble', '720', 3) }}
    {{ product_mini('Remera Verde Elegante', '580', 4) }}
  </div>
</div>
{% endblock %}
