{% extends './_base.html' %}

{% macro question_faq(question, answer, elem_name) %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#{{elem_name}}">{{question}}</a>
        </h4>
    </div>
    <div id="{{elem_name}}" class="panel-collapse collapse">
        <div class="panel-body">
            {{answer}}
        </div>
    </div>
</div>
{% endmacro %}

{% block body %}
<div class="container">
    <br/>

    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        Esta seccion contiene importante información sobre nuestro sitio web y nuestra tienda <strong>Neon</strong>. En caso de que no pueda encontrar la respuesta que está buscando, por favor no dude en contactarnos.
    </div>

    <div class="panel-group" id="accordion">
        <div class="faqHeader"><h2>Preguntas generales</h2></div>
        {{ question_faq('¿Como comprar?',

            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent luctus dui et nulla congue, a molestie leo efficitur. Pellentesque quis pretium velit.',

            'collapseOne')
        }}

        {{ question_faq('Plazos de entrega',

            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent luctus dui et nulla congue, a molestie leo efficitur. Pellentesque quis pretium velit.',

            'collapseTwo')
        }}

        {{ question_faq('Politica de cambios',

            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent luctus dui et nulla congue, a molestie leo efficitur. Pellentesque quis pretium velit.',

            'collapseThree')
        }}

        {{ question_faq('Terminos y condiciones',

            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent luctus dui et nulla congue, a molestie leo efficitur. Pellentesque quis pretium velit.',

            'collapseFour')
        }}

    </div>
</div>
{% endblock %}
