{% extends './_base.html' %}

{% block body %}
<div class="container">
  <div class="row">
    {{ product_mini('PRoductoo', '40') }}
    {{ product_mini('PRoductoo', '40') }}
    {{ product_mini('PRoductoo', '40') }}
  </div>

  <div class="row">
    {{ product_mini('PRoductoo', '40') }}
    {{ product_mini('PRoductoo', '40') }}
    {{ product_mini('PRoductoo', '40') }}
  </div>

  <div class="row">
    {{ product_mini('PRoductoo', '40') }}
    {{ product_mini('PRoductoo', '40') }}
    {{ product_mini('PRoductoo', '40') }}
  </div>
</div>
{% endblock %}
