@import 'bootstrap/bootstrap';
@import 'bootstrap/utilities';
@import 'bootstrap/navbar';


input    { .form-control; }
fieldset { .form-group; }
button   { .btn; }

#header {
  .navbar;
  .navbar-inverse;

  border-radius: 0 !important;

  h1 {
    .center-block();
    width: 400px;

    color     : white;
    text-align: center;
    font-size : 46px;

    margin     : 0;
    padding    : 0;
    line-height: 100px;
  }

  nav.user {
    .container-fluid;
    .pull-right;

    a { .btn; .btn-default; }

    line-height: 100px;
    padding-right: 0;
  }

  nav.shop {
    a.dropdown-toggle, a.home {
      color: white;
    }
  }

  .search {
    .nav;
    .navbar-nav;
    .pull-right;
  }
}


article.product-mini {
  .make-md-column(4);

  img {
    height: 200px;
    border: 0;
    background-color: light-gray;
  }

  .caption {
    text-align: center;
    border-top: 1px solid #ddd;

    .desc {
      text-transform: uppercase;
      font-size: 110%;
    }
  }
}

#footer{
  background-color: #222222;
  color: #FFFFFF;

  a:link {
    color: #FFFFFF;
  }

  a:hover {
    color: #C9C9C8;
  }
  a:active {
    color: #337ab7;
  }

  .container_fluid {
    height: 100%;
    color: #FFFFFF;
  }
  .footer-column {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    height: 100%;
    font-size: 110%;
  }
  .footer_title {
    font-size: 110%;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .form-group {
    padding-top: 10px;
  }
  #contacto {
    border-right: 2px solid #FFFFFF;
  }
  #faq {
    border-right: 2px solid #FFFFFF;
  }
  #upper_footer {
    border-bottom: 2px solid #FFFFFF;
  }
  #footer_below {
    padding-top: 10px;
  }
}

.breadcrumbs {

}

#sidebar {
  .make-md-column(3);

  .filters {
    .list-group;

    .filter{
      .list-group-item;

      .title {
        font-weight:bold;
        margin-bottom:15px;
      }

      .checkboxes-row {
        td{
          vertical-align:middle;
        }
      }

      .checkbox-inline {
        line-height:42px;
        vertical-align:middle;
        margin: -20px 0px 10px 0px;
      }

      .options {
        margin-top:-15px;
        margin-bottom:10px;
      }

      .rangoprecios {
        margin-top:30px;
        margin-bottom:-30px;
      }

      .marcas {
        margin-top:20px;
        margin-bottom:-15px;
        height:150px !important;
        overflow:scroll;
      }
    }

  }
}

#user {
    .loginbox {
      margin-top:60px;
      margin-bottom:60px;
    }

    h2 {
      font-size: 18px;
      margin-top: 10px;
      text-transform: uppercase;
      text-align: right;
    }

    .username.row {
      margin-top: 10px;
      padding-top: 20px;
    }

    .password.row {
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .checkbox-inline {
      line-height: 40px;
    }

    .forgotpass-row {
      margin-bottom:20px;
    }

    .button.row {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left:auto;
      margin-right:auto;
    }
}

#underconstruction {

  .textcontent {
    margin-top:20px;
    margin-bottom:30px;
  }

  h2 {
    text-align:center;
  }

  .imagecontent {
    text-align:center;
    margin-bottom:60px;
    margin-top:50px;
  }

}

#cart {
  .summary {
    margin-top: 30px;
    margin-bottom: 30px;

    .header.row {
      padding-bottom: 5px;
      border-bottom: 1px solid #ddd;
      margin-bottom: 15px;

      text-transform: uppercase;
      font-size: 120%;
      font-weight: bold;

      *:not(:first-child) {
        text-align: center;
      }
    }

    .price, .amount, .total {
      text-align: center;
    }

    .price, .total {
      font-size: 140%;
    }

    h3 {
      margin-top: 0;
    }

    h2 {
      font-size: 18px;
      margin-top: 10px;
      text-transform: uppercase;
      text-align: right;
    }

    .product.row {
      .image {
        text-align: center;

        img {
          height: 100px;
          margin-bottom: 20px;
        }
      }
    }

    .delivery.row {
      margin-top: 10px;
      border-top: 1px solid #ddd;
      padding-top: 20px;
    }

    .discount.row {
      margin-top: 10px;
    }

    .total.row {
      margin-top: 10px;
      border-top: 1px solid #ddd;
      padding-top: 10px;

      .total {
        font-size: 130%;
      }
    }

    .action.row {
      margin-top: 30px;
    }
  }
}
