@import 'bootstrap/bootstrap';
@import 'bootstrap/utilities';
@import 'bootstrap/navbar';


input    { .form-control; }
fieldset { .form-group; }
button   { .btn; }

#header {
  .navbar;
  .navbar-inverse;

  border-radius: 0 !important;

  h1 {
    .center-block();
    width: 400px;

    color     : white;
    text-align: center;
    font-size : 46px;

    margin     : 0;
    padding    : 0;
    line-height: 100px;
  }

  nav.user {
    .container-fluid;
    .pull-right;

    a { .btn; .btn-default; }

    line-height: 100px;
    padding-right: 0;
  }

  nav.shop {
    a.dropdown-toggle, a.home {
      color: white;
    }
  }

  .search {
    .nav;
    .navbar-nav;
    .pull-right;
  }
}


article.product-mini {
  .make-md-column(4);

  img {
    height: 200px;
    border: 0;
    background-color: light-gray;
  }

  .caption {
    text-align: center;
    border-top: 1px solid #ddd;

    .desc {
      text-transform: uppercase;
      font-size: 110%;
    }
  }
}

#footer{
  background-color: #222222;
  color: #FFFFFF;
  
  a:link {
    color: #FFFFFF;
  }
  
  a:hover {
    color: #C9C9C8;
  }
  a:active {
    color: #337ab7;
  }
  
  .container_fluid {
    height: 100%;
    color: #FFFFFF;
  }
  .footer-column {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid #FFFFFF;
    height: 100%;
  }
  #contacto {
    border-right: 2px solid #FFFFFF;
  }
  #faq {
    border-right: 2px solid #FFFFFF;
  }
  #footer_below {
    padding-top: 10px;
  }
}
